footer {
    background-color: #f0f7ff; /* Example style */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0px;
}

.ms-3 {
    margin-right: 50px;
}